{% extends "layout.html" %} {% block content %}
<h1>About</h1>
<p>
</a> This application has been made by <a href="https://www.github.com/tidnaaB"><em>Gregory Press</em></a>, <br> the lead and head developer of PressTech Innovations.
	<br>
	<br>
	This is a simple palindrome application for a course I was taking.
	<br>
	<br />The "Is It A Palindrome" form will take an input and test it to see if a certain conditions are met
	to determine if the word, sentence or phrase is a <bold>palindrome</bold> or not, using <bold>basic logic.</bold> 
	The source files will be uploaded and updated to link from below.
	<br>
	<br>
	<a href="https://www.github.com/tidnaaB"><em>Source Files</em></a>
</p>
{% endblock %}
